<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.genericworkflownodes.knime.mime.demangler.Demangler">
      <demangler
            class="de.seqan.knime.demangler.fx.FXFQStatsDemangler">
      </demangler>
      <demangler
            class="de.seqan.knime.demangler.fx.FXSamCoverageDemangler">
      </demangler>
      <demangler
            class="de.seqan.knime.demangler.rabema.RabemaReportDemangler">
      </demangler>
   </extension>

</plugin>
